<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.nla.tarotdroid"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="auto">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".TarotDroidApp"
        android:icon="@drawable/icon_lite"
        android:label="@string/app_name"
        android:theme="@style/Theme.TarotDroid">
        <activity android:name="org.achartengine.GraphicalActivity"/>
        <activity android:name=".dashboard.MainPreferencesActivity"/>
        <activity android:name=".gameset.TabGameSetPreferencesActivity"/>
        <activity
            android:name=".gameset.TabGameSetActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name=".gameset.GameSetChartViewPagerActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".history.GameSetHistoryActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name=".dashboard.NewGameSetDashboardActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name=".players.PlayerListActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name=".players.PlayerStatisticsActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name=".gameset.StandardGameActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name=".gameset.BelgianGameActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name=".gameset.PassActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name=".gameset.PenaltyActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name=".gameset.GameReadViewPagerActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name=".gameset.DisplayAndRemoveGameDialogActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Theme.TarotDroid.Dialog"/>
        <activity
            android:name=".gameset.CreateGameSetActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name=".dashboard.MainDashboardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dd38dd735f1aa5146e772a3cb865d52c335cf248"/>
        <activity
            android:name=".splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>